*~
_build
build/META
build/make_suite
src/batteries_config.ml
doc/batteries/html/api/
hdoc/*
man/*
*.byte
*.native
/.omake*
*.swp
*.opt
*.run
apidocs
batteries.docdir
batteries.odocl
qtest/*_t.ml
qtest/test_mods.mllib
bench.log
qtest/all_tests.ml
qtest2/all_tests.ml
qtest.targets.log
coverage
setup.data
setup.log
src/batUnix.mli
src/batPervasives.mli
src/batInnerPervasives.ml
src/batHashtbl.ml
src/batMarshal.mli
src/batPrintexc.mli
src/batSys.mli
src/batBigarray.mli
