*~
_build
build/META
build/make_suite
src/batteries_config.ml
doc/batteries/html/api/
hdoc/*
man/*
*.byte
*.native
/.omake*
*.swp
*.opt
*.run
apidocs
batteries.docdir
qtest/*_t.ml
qtest/test_mods.mllib
src/batCamomile.ml
