*~
_build
/Makefile
autom4te.cache
config.ml
config.log
config.status
config.post
configure
build/META
build/threaded/META
build/nothreads/META
doc/batteries/html/api/
examples/benchmark/*.png
src/batteries_toolchain/ocaml
patches/
*.cmx
*.cmo
*.cmi
*.cma
*.cmxa
*.o
*.a
/.omake*
*.omc
*.swp
