ben kuin <benkuin@gmail.com> ben le kuin <ben@lekuin.org>
Gabriel Scherer <gabriel.scherer@gmail.com> bluestorm <bluestorm@b9ea8324-641f-426b-95ce-2518f2e44cc5>
Gabriel Scherer <gabriel.scherer@gmail.com> bluestorm <bluestorm.dylc@gmail.com>
Cedric Cellier <rixed@happyleptic.org> Cedric Cellier <cedric.cellier@securactive.net>
Cedric Cellier <rixed@happyleptic.org> Cedric Cellier <rixed-github@happyleptic.org>
Cedric Cellier <rixed@happyleptic.org> cedric cellier <rixed@free.fr>
Dawid Toton <d0@wp.pl> Dawid Toton <toton@dawid-laptop.(none)>
Eric Norige <thelema314@gmail.com> Edgar Friendly <thelema314@gmail.com>
Gabriel Scherer <gabriel.scherer@gmail.com> Gabriel Scherer <bluestorm.dylc@gmail.com>
Gabriel Scherer <gabriel.scherer@gmail.com> gasche <gasche.dylc@gmail.com>
Hezekiah M. Carty <hcarty@atmos.umd.edu> Hezekiah M. Carty <hez@>
Hezekiah M. Carty <hcarty@atmos.umd.edu> Hezekiah M. Carty <hez@0ok.org>
Jérémie Dimino <jeremie@dimino.org> Jérémie Dimino <dim@aurora.(none)>
Justus Matthiesen <justus.matthiesen@gmail.com> Justus Matthiesen <jm@jm614.laptop>
Kaustuv Chaudhuri <kaustuv.chaudhuri@inria.fr> Kaustuv Chaudhuri <kaustuv@lix.polytechnique.fr>
Michael Ekstrand <michael@elehack.net> Michael D Ekstrand <ekstrand@cs.umn.edu>
Michael Ekstrand <michael@elehack.net> Michael Ekstrand <ekstrand@cs.umn.edu>
Philippe Veber <philippe.veber@gmail.com> pveber <philippe.veber@gmail.com>
Philippe Veber <philippe.veber@gmail.com> Philippe <pveber@free.fr>
Eric Norige <thelema314@gmail.com> thelema <thelema@b9ea8324-641f-426b-95ce-2518f2e44cc5>
David Teller <David.Teller@ens-lyon.org> Yoric <David.Teller@ens-lyon.org>
David Teller <David.Teller@ens-lyon.org> yoric <yoric@b9ea8324-641f-426b-95ce-2518f2e44cc5>
David Teller <David.Teller@ens-lyon.org> Yoric <yoric@Blefuscu.(none)>
David Teller <David.Teller@ens-lyon.org> David Teller <david.teller@ens-lyon.org>
Erkki Seppälä <flux@modeemi.fi> Erkki Seppala <ese@lese.acss.fi>
Erkki Seppälä <flux@modeemi.fi> Erkki Seppala <flux@modeemi.fi>
