pre {background-color:rgb(250,250,250);margin-top:2em}
pre.example {margin-top:2px; margin-bottom:2em}
code.example {background-color:rgb(250,250,250)}
span.developer {font-weight:bold}
code.terminal {display:block;padding:1em;background-color:black;color:white;width:90ex;margin:1em;white-space:pre}
li {margin-top:1em}
