#!/usr/bin/make -f
include /usr/share/ocaml/ocamlvars.mk

export DESTDIR = $(CURDIR)/debian/tmp/$(OCAML_STDLIB_DIR)
export BATTERIES_DOCROOT = $(CURDIR)/debian/tmp/doc
DOC_PKG = libbatteries-ocaml-doc

%:
	dh --with quilt,ocaml $@

ifneq ($(OCAML_HAVE_OCAMLOPT),yes)
export BATTERIES_NATIVE = false
endif

override_dh_auto_build:
	omake all
ifneq (,$(findstring $(DOC_PKG),$(shell dh_listpackages)))
	omake doc
endif

override_dh_auto_test:
	omake test

override_dh_auto_install:
	mkdir -p $(DESTDIR) $(BATTERIES_DOCROOT)
	omake install
ifneq (,$(findstring $(DOC_PKG),$(shell dh_listpackages)))
	omake install-doc
endif

override_dh_auto_clean:
	omake clean
	rm -rf man/ .omakedb .omakedb.lock
	-find . -name '*.omc' -exec rm {} \;

override_dh_compress:
	dh_compress -Xmyocamlbuild.ml -X.idex

.PHONY: override_dh_auto_build override_dh_auto_test override_dh_auto_install
.PHONY: override_dh_auto_clean override_dh_compress
