#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/ocaml.mk

LIB_NAME = batteries
DEV_PKG_NAME = lib$(LIB_NAME)-ocaml-dev
DOC_PKG_NAME = lib$(LIB_NAME)-ocaml-doc
DEST_DIR = $(CURDIR)/debian/$(DEV_PKG_NAME)$(OCAML_STDLIB_DIR)

DEB_MAKE_BUILD_TARGET = byte
ifeq ($(OCAML_HAVE_OCAMLOPT),yes)
DEB_MAKE_BUILD_TARGET += opt
endif
DEB_MAKE_BUILD_TARGET += OBFLAGS=-classic-display

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEST_DIR)

build/$(DOC_PKG_NAME)::
	OCAMLRUNPARAM=l=16M \
	make doc OBFLAGS=-classic-display

TG_BRANCHES = features/flexi-build
tg-export:
	tg create stage-debian $(TG_BRANCHES)
	git commit -m "staging"
	rm -Rf debian/patches.new
	tg export --quilt debian/patches.new
	git rm -f .top*
	git checkout build
	tg delete stage-debian
	rm debian/patches.new/stage-*
	sed -i '/^stage-/d' debian/patches.new/series
	rm -Rf debian/patches
	mv debian/patches.new debian/patches

