#!/usr/bin/make -f
include /usr/share/ocaml/ocamlvars.mk

DEB_DESTDIR = $(CURDIR)/debian/tmp/$(OCAML_STDLIB_DIR)
BATTERIES_DEB_DOCROOT = $(CURDIR)/debian/tmp/doc
export BATTERIES_DOCROOT = /usr/share/doc/libbatteries-ocaml-doc/html/api/
export DESTDIR = $(OCAML_STDLIB_DIR)
DOC_PKG = libbatteries-ocaml-doc
OFLAGS = --verbose

%:
	dh --with quilt,ocaml $@

ifneq ($(OCAML_HAVE_OCAMLOPT),yes)
export BATTERIES_NATIVE = false
endif

override_dh_auto_build:
	omake $(OFLAGS) all
ifneq (,$(findstring $(DOC_PKG),$(shell dh_listpackages)))
	omake $(OFLAGS) doc
endif

override_dh_auto_test:
	omake $(OFLAGS) test

override_dh_auto_install:
	mkdir -p $(DEB_DESTDIR) $(BATTERIES_DEB_DOCROOT)
	DESTDIR=$(DEB_DESTDIR) omake $(OFLAGS) install
ifneq (,$(findstring $(DOC_PKG),$(shell dh_listpackages)))
	DESTDIR=$(DEB_DESTDIR) BATTERIES_DOCROOT=$(BATTERIES_DEB_DOCROOT) omake $(OFLAGS) install-doc
endif

override_dh_auto_clean:
	omake $(OFLAGS) clean
	rm -rf man/ .omakedb .omakedb.lock
	-find . -name '*.omc' -exec rm {} \;

override_dh_compress:
	dh_compress -Xmyocamlbuild.ml -X.idex

.PHONY: override_dh_auto_build override_dh_auto_test override_dh_auto_install
.PHONY: override_dh_auto_clean override_dh_compress
