.titlemain, .titlerest {background:transparent; border:none;}

/* imported from ocamldoc's CSS style */
a:visited {color : #416DFF; text-decoration : none; }
a:link {color : #416DFF; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #5FFF88}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : #C04600 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info { margin-left : 3em; margin-right : 3em }
.param_info { margin-top: 4px; margin-left : 3em; margin-right : 3em }

/* code color */
tt, .code, .verbatim, .console { color : #465F91 ; }

/* code blocks: indentation */
.verbatim, .console { margin-left: 2em; }

/* console: border */
.console { border: 1px solid; padding: 10px; }

h1 { font-size : 20pt ; text-align: center; }

h2, h3, h4, h5, h6, div.h7, div.h8, div.h9 {
    text-align: center;
    border: 1px solid #000000;
}

/* change ocamldoc titles to get a decreasing font size */
h2, h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 2px; 
}

h2 { background-color: #90BDFF ; }
h3 { background-color: #90DDFF ; }
h4 { background-color: #90EDFF ; }
h5 { background-color: #90FDFF ; }
h6 { background-color: #C0FFFF ; }

div.h7 { background-color: #E0FFFF ; }
div.h8 { background-color: #F0FFFF ; }
div.h9 { background-color: #FFFFFF ; }

.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
body { background-color : White; max-width: 100ex; }
tr { background-color : White }
td.typefieldcomment { background-color : #FFFFFF ; font-size: smaller ;}
pre { margin-bottom: 4px }
div.sig_block {margin-left: 2em}
*:target { background: yellow; } 